<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.metaverseapp.bbs.authority.biz.dao.auth.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="net.metaverseapp.bbs.authority.entity.auth.User">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="create_user" jdbcType="BIGINT" property="createUser"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_user" jdbcType="BIGINT" property="updateUser"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="nickname" jdbcType="VARCHAR" property="nickname"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="portrait_url" jdbcType="LONGVARCHAR" property="portraitUrl"/>
        <result column="gender" jdbcType="VARCHAR" property="gender"/>
        <result column="intro" jdbcType="LONGVARCHAR" property="intro"/>
        <result column="signature" jdbcType="LONGVARCHAR" property="signature"/>
        <result column="topic_count" jdbcType="INTEGER" property="topicCount"/>
        <result column="reply_count" jdbcType="INTEGER" property="replyCount"/>
        <result column="best_topic_count" jdbcType="INTEGER" property="bestTopicCount"/>
        <result column="last_topic_id" jdbcType="BIGINT" property="lastTopicId"/>
        <result column="last_login" jdbcType="TIMESTAMP" property="lastLogin"/>
        <result column="amount" jdbcType="INTEGER" property="amount"/>
        <result column="is_active" jdbcType="BIT" property="isActive"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, create_user, create_time, update_user, update_time,
        username, nickname, password, email, portrait_url, gender, intro, signature, topic_count, reply_count, best_topic_count, last_topic_id, last_login, amount, is_active
    </sql>

</mapper>
